<html>
<head>
<title>
${pageProperties.jcr:title}
</title>
<!--/* <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories=['academy-ex2-clientlib.base','academy-ex2-clientlib.extlibs']}"/> */-->


</head>
<body>

<!--/* <div data-sly-resource="${'header' @resourceType='academy-ex2/components/contents/header'}"></div> */-->
<br>

<div class="container">
<sly data-sly-include="/libs/wcm/core/components/init/init.jsp" data-sly-unwrap/>

<div data-sly-resource="${'content' @resourceType='wcm/foundation/components/parsys'}"></div>

</div>
<br>
<br>

<!--/* <div data-sly-resource="${'footer' @resourceType='academy-ex2/components/contents/footer'}"></div> */-->



</body>
</html>